.textTech {
    font-size:x-large;
    display: block;
    font-weight: 900;
    text-decoration:underline;
}

.icon{
    height: 50px;
    width: auto;
    margin-left: 10px;
}


.my-front-end {
    text-align: center;
    
}

.tech {
    margin-left: 10px;
}

li{
    font-size: large;
    font-weight: 600;
    text-align: center;
    margin-right: 40px;
    margin-top: 20px;

}

ul {
    display: flex;
   
}

