.carousel-margin {
    margin-top: 50px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.Turing {
    font-size: 30px;
    font-weight: 500;
    
}

.phrase1 {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.myPhrase {
    font-weight: 600;
    font-size:x-large;
}