
.wave {
    background: url(./wave.svg) repeat-x; 
    position: absolute;
    width: 450vh;
    height: 150px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {

    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.225s infinite, swell 7s ease -0.5s infinite;
    opacity: 0.5;
    
}